body {
    overflow: hidden;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: white;
}

.logo img {
    width: 130px;
}

.bg-gardner {
    background-color: #14394C;
}

nav {
    /* height: 60px; */
    background-color: #14394C;
    /* background-color: white; */
}

nav .navbar-toggler {
    color: white;
}

nav a {
    color: white;
}

nav a:hover {
    color: #AAA;
}

.nav-flyout {
    list-style: none;
    align-items: center;
}



.pad-0 {
    padding: 0;
}


.side-bar {
    margin-top: 1px;
    height: calc(100vh - 60px);
    background-color: #0F111A;
}

#accordion .tab-menu {

    width: 100%;
    background-color: #0F111A;
    color: white;
    padding: 0;


}

#accordion .tab-menu .header {

    height: 50px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;

    display: flex;
    align-items: center;
    padding-left: 20px;
}


#accordion .tab-menu .header p {
    margin: 0;
}

#accordion .tab-menu .header:hover {

    background-color: rgba(255, 255, 255, 0.1);

}

#accordion .tab-menu .content {

    padding: 30px;
    padding-top: 0;
    padding-bottom: 10px;
    background-color: #fffdf9;
    border-right: 2px solid #0F111A;
    color: black;


}


#accordion .tab-menu .content:hover {

    background-color: rgba(255, 255, 255, 0.8);
}

#accordion .tab-menu .content ul {

    list-style: none;
    padding: 0;

}

#accordion .tab-menu i {
    padding-right: 15px;
}

#accordion .tab-menu .content {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0;
    padding-left: 35px;
}

#accordion .tab-menu .content a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: black;
    text-align: left;
    display: flex;
    align-items: center;
}


.container .nav-box {
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
    position: relative;
}

.container .nav-box p {
    font-size: 30pt;
    margin-left: 10px;
    margin-top: 15px;
    position: absolute;
    font-family: century gothic;
}

.container .data-table .data-header {
    position: relative;
}

.container .data-table .data-header p {
    position: absolute;
    font-family: century gothic;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}

.data-table {
    width: 98%;
    height: 70%;
    margin: auto;

}

.data-table .data-header {
    width: 100%;
    height: 40px;
    background-color: #0F111A;
    padding: 0;
    margin: 0;
}

.metro-btn {

    height: 25px;
    padding: 0 10px;
    background-color: #14394C;
    color: white;
    border: none;
    font-size: 11px;

}

.main-content {
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.table-centered td {
    vertical-align: middle;
}

.title {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.default-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.adviser {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.5rem;
    margin-left: 0.5rem;
    font-weight: lighter;
}

#exTab1 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

#exTab2 h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills>li>a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills>li>a {
    border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}


.mt-6 {
    margin-top: 6rem;
}

.mt-7 {
    margin-top: 7rem;
}

.mt-8 {
    margin-top: 8rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

.mb-7 {
    margin-bottom: 7rem;
}

.mb-8 {
    margin-bottom: 8rem;
}

.h-3 {
    height: 3rem;
}

.h-4 {
    height: 4rem;
}

.h-5 {
    height: 5rem;
}

.h-6 {
    height: 6rem;
}

.h-7 {
    height: 7rem;
}

.h-8 {
    height: 8rem;
}

.h-15 {
    height: 15rem;
}

.portrait-sm {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portrait-sm p {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    background-color: transparent;
}


.portrait-xsm {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portrait-xsm p {
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    background-color: transparent;
}



@media (max-width: 768px) {

    body {
        overflow-y: auto;
    }

    .main-content {
        height: auto;
        overflow-y: auto;
        padding: 0 0px !important;
        overflow-x: hidden;
    }

    .side-bar {
        margin-top: 1px;
        height: auto;
        background-color: #0F111A;
        margin-bottom: 70px;
    }

    .student-name {
        margin-top: 1rem;
        text-align: center;
        font-size: 4rem;
    }

    .student-lrn {
        text-align: center;
    }

    #myTab {
        justify-content: space-between;
    }

    .nav-link {

        padding: .8rem 0.5rem;

    }


}



/* Some overrides in Bootstrap */

.table-responsive {
    margin-left: -1px;
    width: calc(100% + 2px);
}

.select2-selection--single {
    height: 37px !important;
}

.select2-selection__rendered {
    line-height: 37px !important;
}

.select2-selection__arrow {
    height: 37px !important;
}

.form-group label {
    font-weight: bold;
}

body {
    background-color: #f9fafb;
}

#table {
    font-size: 0.9rem;
    min-width: 800px;
}

.shadow-small {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.5);
}

.border-left-warning {
    border-left: 5px solid #ffc107 !important;
}

.action .menu-link i {
    font-size: 1rem;
    text-align: center;
    line-height: 34px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


.table-title {
    margin-bottom: 0px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    height: 1.5rem;
}

.action .menu-link i:hover {
    background-color: #44444433;
    color: black;
}

.menu>a i {
    font-size: 1rem;
    text-align: center;
    line-height: 32px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.menu>a i:hover {
    background-color: #44444433;
}

.dataTables_info {
    padding-left: 20px;
    font-weight: bold;
}

#table_wrapper {
    margin-top: -10px;
}

.no-officer a {
    opacity: 0;
}

.no-officer:hover>a {
    opacity: 1;
}
